---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/sidebar.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Sidebar />
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <h2>This is the home page</h2>
  </main>
</Layout>

<style>
  main {
    display: flex;
  }
</style>
