<nav>
  <ul>
    <li><a href="#">Highlights</a></li>
    <li><a href="#">Following</a></li>
    <li><a href="#">Everyone</a></li>
  </ul>
</nav>

<style>
  nav {
    width: 100%;
    height: 60px;
    column-gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--secondaryBorderColor);
    position: sticky;
    top: 0;
    background-color: var(--backgroundColor);
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }

  a {
    text-decoration: none;
    color: var(--grey3);

    &:active {
      color: var(--grey1);
    }
  }

  a.active {
    color: var(--grey1);
  }
</style>

<script>
  const navItems = document.querySelectorAll("a");

  navItems.forEach((item) => {
    item.addEventListener("click", function () {
      // Remover la clase 'active' de todos los ítems
      navItems.forEach((nav) => nav.classList.remove("active"));
      // Agregar la clase 'active' al ítem seleccionado
      this.classList.add("active");
    });
  });
</script>
