<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Search</a></li>
    <li><a href="#">Notifications</a></li>
    <li><a href="#">Replies</a></li>
    <li><a href="#">Bookmarks</a></li>
    <li><a href="#">Profile</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  li {
    padding: 0.5rem;
  }
  a {
    color: var(--grey1);
    text-decoration: none;
  }
</style>
